:root {
  --plugerdy-responsive-menu-width: 50vw;
  --plugerdy-responsive-menu-color: #000000;
  --plugerdy-responsive-menu-padding: 2em;
  --plugerdy-responsive-menu-btn-size: 36px;
  --plugerdy-responsive-menu-btn-height: 2px;
  --plugerdy-responsive-menu-btn-color: #000000;
  --plugerdy-responsive-menu-font-size: 1em;
  --plugerdy-responsive-menu-font-weight: normal;
  --plugerdy-responsive-menu-bg-color: #ffffff;
  --plugerdy-responsive-menu-link-spacing: 1.2em;
}

.plugerdy-responsive-nav-body-no-scroll {
  overflow: hidden;
}

.plugerdy-responsive-nav {
  padding: var(--plugerdy-responsive-menu-padding);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000 !important;
  opacity: var(--plugerdy-responsive-menu-opacity);
  font-weight: var(--plugerdy-responsive-menu-font-weight);
  font-size: var(--plugerdy-responsive-menu-font-size);

  width: max(var(--plugerdy-responsive-menu-width), 200px);
  height: 100vh;
  background-color: var(--plugerdy-responsive-menu-bg-color);
}

.plugerdy-responsive-nav.shadow-light {
  box-shadow: 0 0 0.8em 0.1em #00000033;
}
.plugerdy-responsive-nav.shadow-dark {
  box-shadow: 0 0 0.8em 0.1em #00000066;
}

.plugerdy-responsive-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--plugerdy-responsive-menu-link-spacing);
  margin-right: 1em;
  list-style: none;
}

.plugerdy-responsive-nav li {
  width: max-content;
}

.plugerdy-responsive-nav[aria-expanded='false'] a {
  display: none;
}

.plugerdy-responsive-nav[aria-expanded='true'].animation-off {
  transform: scale(1, 1);
}

.plugerdy-responsive-nav[aria-expanded='true'].animation-on {
  will-change: transform;
  animation: plugerdy-animate-menu 300ms forwards linear;
}

@keyframes plugerdy-animate-menu {
  100% {
    transform: scale(1, 1);
  }
}

.plugerdy-responsive-nav a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--plugerdy-responsive-menu-color);
}

.plugerdy-responsive-nav.from-top {
  top: 0;
  right: 0;
  transform-origin: top;
  transform: scale(1, 0);
}

.plugerdy-responsive-nav.from-bottom {
  top: 0;
  right: 0;
  transform-origin: bottom;
  transform: scale(1, 0);
}

.plugerdy-responsive-nav.from-left {
  top: 0;
  left: 0;
  transform-origin: left;
  transform: scale(0, 1);
}

.plugerdy-responsive-nav.from-right {
  top: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
}

.from-center.plugerdy-responsive-nav {
  top: 0;
  right: 0;
  transform-origin: center;
  transform: scale(0, 0);
}

.plugerdy-responsive-nav[aria-expanded='true'].animation-on a {
  transform: translateY(100%);
  opacity: 0;
  animation: plugerdy-animate-links 250ms 500ms forwards linear;
}

@keyframes plugerdy-animate-links {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.plugerdy-responsive-nav.animation-on li {
  position: relative;
  text-decoration: none;
}

.plugerdy-responsive-nav.animation-on li::after {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.3s linear;
}

.plugerdy-responsive-nav.animation-on li:hover::after {
  transform: scale(1, 1);
  transform-origin: left;
}

/* .plugerdy-responsive-nav[aria-expanded='true'] {
  transform: scale(1, 1)
} */

/* 
*
* Apply styles to burger button 
*
*/

.plugerdy-btn-burger {
  margin-left: auto;
  align-self: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 9999;
  width: 36px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plugerdy-responsive-nav[aria-expanded='true'].animation-off .plugerdy-btn-burger {
  animation: plugerdy-btn-animate 500ms 300ms linear forwards;
}

.plugerdy-responsive-nav[aria-expanded='true'].animation-on .plugerdy-btn-burger {
  opacity: 0;
  transform: translateX(80%) rotate(180deg);
  animation: plugerdy-btn-animate 500ms 300ms linear forwards;
}

@keyframes plugerdy-btn-animate {
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.plugerdy-btn-burger .bar {
  position: relative;
  display: block;
  width: var(--plugerdy-responsive-menu-btn-size);
  height: var(--plugerdy-responsive-menu-btn-height);
  border-radius: 1px;
  background-color: var(--plugerdy-responsive-menu-btn-color);
}

.plugerdy-btn-burger .bar-top {
  transform: translateY(-6px);
}

.plugerdy-btn-burger .bar-bottom {
  transform: translateY(6px);
}

.plugerdy-btn-burger[aria-expanded='true'] {
  position: absolute;
  top: var(--plugerdy-responsive-menu-padding);
  right: var(--plugerdy-responsive-menu-padding);
}

.plugerdy-btn-burger[aria-expanded='true']:hover {
  transition: all 500ms linear;
  transform: rotate(90deg);
}

.plugerdy-btn-burger[aria-expanded='true'] .bar {
  transition: all 250ms linear;
  background-color: var(--plugerdy-responsive-menu-color);
  width: 28px;
}

.plugerdy-btn-burger[aria-expanded='true'] .bar-top {
  transform: translateY(var(--plugerdy-responsive-menu-btn-height)) rotate(-45deg);
}

.plugerdy-btn-burger[aria-expanded='true'] .bar-middle {
  opacity: 0;
}

.plugerdy-btn-burger[aria-expanded='true'] .bar-bottom {
  transform: translateY(calc(var(--plugerdy-responsive-menu-btn-height) * -1)) rotate(45deg);
}
